.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
   
   

}
.container div{
    border: 1px solid green;
    width: 30%;
    height: 40vh;
    margin-top: 30vh;
}
.container div:hover{
    background-color: rgb(117, 171, 117);
}
.meal{
    margin-left: 5vw;
}
.me{
 position: relative;
 bottom: 10vh;
}
/* .gro{
     position: relative;
 bottom: 10vh;
} */
 .btn{
    background-color: #2C7C34;
    width: fit-content;
    padding: 10px 20px;
   border-radius: 10px;
   color: aliceblue;
 }
 .b{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
 }